* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial;
  margin: 0 0 2px;
}

body .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.main_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.asd {
  color: red;
}

header, footer {
  background-color: #093d1d9f;
  padding: 8px;
}

header {
  color: white;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

h2 p {
  font-style: italic;
}

h2 {
  border-bottom: 1px solid darkslategray;
  margin: 0 20px 0 20px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: black;
}

p {
  font-size: 15px;
  padding: 0 10px 10px 10px;
  text-align: justify;
}

p::first-letter {
  font-family: 'Gill Sans';
  font-size: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px;
}

.main__col.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
}

.main__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 14px;
}

.main__col:nth-child(1) {
  background-color: rgba(92, 219, 109, 0.336);
}

.main__col:nth-child(2) {
  background-color: rgba(35, 216, 186, 0.281);
}

.main__col:nth-child(3) {
  background-color: rgba(253, 183, 181, 0.233);
}

.flex__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sq {
  width: 50px;
  height: 50px;
}

.sq:nth-child(1) {
  background-color: cadetblue;
}

.sq:nth-child(2) {
  background-color: wheat;
}

.sq:nth-child(3) {
  background-color: sienna;
}

@media (max-width: 768px) {
  .main__col:nth-child(1) {
    background-color: #ffe7e7;
  }
  .main__col:nth-child(2) {
    background-color: #d4e6bb;
  }
  .main__col:nth-child(3) {
    background-color: rgba(191, 227, 241, 0.658);
  }
}

@media (max-width: 375px) {
  .asd {
    color: black;
  }
  .main__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

.flex__example {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

table {
  font-style: italic;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: rgba(27, 83, 29, 0.527);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 27px;
}

table td {
  background: #ffe9e9;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */